*.go linguist-vendored
*.nim linguist-vendored
*.py linguist-vendored
*.cs linguist-vendored
*.c linguist-vendored
*.xml linguist-vendored
*.csproj linguist-vendored
*.rs linguist-vendored
*.hs linguist-vendored
*.d linguist-vendored
*.pl linguist-vendored
*.kt linguist-vendored